<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p appBasicHighlight>
        this is the paragraph styled by the custome 
        directive
      </p>

      <p appBetterHighlight>
        this paragraph is rendered by renderer2
      </p>

      <p appHostBindingHighlight>
        this paragraph is rendered by renderer2
      </p>
      
      <p appPropertyHostBinding [defaultColor]="'pink'" [highlightColor]="'brown'">
        this paragraph is rendered by renderer2
      </p>

    </div>
  </div>
</div>

<!--appBasichighlight is the custom directive applied of the-->
<!--paragraph same as the default directive-->